Repository morewings/koval-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.css": [
    "stylelint --fix --quiet"
  ],
  "*.mdx": [
    "prettier -wrtie --log-level silent"
  ]
}

Notes added by 'git notes add'
  92279ad3c7748087a59cad63384ad9647a524af9
Due: none

fix(input-text): fix minor visual bugs in InputText
  src/lib/InputText/InputText.module.css
  src/lib/InputText/InputText.tsx
Due: eslint --fix, stylelint --fix --quiet

docs(stories): add password input story
  src/lib/Form/Form.stories.tsx
Due: eslint --fix

chore(release): 0.19.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  871162d80ef8ddc3bea99e3956d824f72a8e127a
Due: none

docs: add download badge
  README.md
Due: none

docs: fix typo
  README.md
Due: none

docs: update README.md
  README.md
Due: none

chore: test
  .gitignore
Due: none

build: fix coverage job
  .github/workflows/coverage.yml
Due: none

build: update build
  .github/workflows/pull-request-jobs.yml
Due: none

build: update pull-request-jobs.yml
  .github/workflows/pull-request-jobs.yml
Due: none

fix(alias): refactor project aliases bundling
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  jest.config.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

chore(release): 0.19.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  54f7ce506ad44a921c157914d9816e7b0f607fa6
Due: none

chore(deps): update vite
  package.json
  pnpm-lock.yaml
Due: none

chore: update renovate.json
  renovate.json
Due: none

chore(release): 0.19.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9f0e8f27057d6002db4cba8c949ba4260a1ddab2
Due: none

fix(css-reset): improve built-in CSS reset
  package.json
  pnpm-lock.yaml
  src/lib/CSS/styles.css
  src/lib/Iframe/Iframe.stories.tsx
  src/lib/Provider/Provider.module.css
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.19.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  974c21340050b40718c9ffb7800c91652b566054
Due: none

fix(inputs): improve InputRadio and InputCheckbox style
  src/lib/InputCheckbox/InputCheckbox.module.css
  src/lib/InputRadio/InputRadio.module.css
Due: stylelint --fix --quiet

fix(input-group): add shared onChange callback prop
  src/lib/InputCheckbox/InputCheckbox.stories.tsx
  src/lib/InputGroup/InputGroup.stories.tsx
  src/lib/InputGroup/InputGroup.tsx
  src/lib/InputRadio/InputRadio.stories.tsx
Due: eslint --fix

docs(numeric-input): fix story, remove missing props
  src/lib/InputGroup/InputGroup.tsx
  src/lib/InputNumeric/InputNumeric.stories.tsx
Due: eslint --fix

fix(input-color): fix wrong color of label
  src/lib/InputColor/InputColor.tsx
Due: eslint --fix

refactor(types): improve types to allow typescript update
  package.json
  pnpm-lock.yaml
  src/internal/LibraryAPI/LibraryTypes.tsx
Due: eslint --fix

chore(release): 0.19.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  54ba3fbfb3968ef8b35bf6f7ab76d7cc927b364a
Due: none
