Repository morewings/koval-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet, prettier --write --log-level silent

Notes added by 'git notes add'
  b0c67591f5512e620d508bf9538667e1a0967ef0
Due: none

fix(dialog): fix Dialog position
  src/lib/Dialog/Dialog.module.css
Due: stylelint --fix --quiet

chore(release): 0.20.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5f3c24dda2cad528d5ed91d41e5bc5585aa20dbe
Due: none

fix(tts): fix TextToSpeech import regression
  src/lib/index.ts
Due: eslint --fix

docs: improve header story
  src/lib/Text/Header.stories.tsx
Due: eslint --fix

Notes added by 'git notes add'
  f327fec81a32ba724a9666bede7d7509642eb7a6
Due: none

chore(release): 0.20.3 [skip ci]
  package.json
Due: none

fix(menu): fix z-index of Menu component
  src/lib/Menu/Menu.module.css
Due: stylelint --fix --quiet

chore(release): 0.20.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  06c3ff6d041ab3f75cd5b2df3c77d7af195ef2c7
Due: none

docs: update homepage URL in package.json
  package.json
Due: none

chore(release): 0.20.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  24b03c98c6f97e4389b0bc656d49b2733f38a491
Due: none

chore(release): 0.20.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  3409776b46244139c6ee3d0a13cb53a9beebb97f
Due: none

Notes added by 'git notes add'
  ed9e54a522a787b11df1eb8e171edb94786c9e88
Due: none

chore(release): 0.20.7 [skip ci]
  package.json
Due: none

Revert "chore(deps): update react monorepo"
  package.json
  pnpm-lock.yaml
Due: none

docs: add AI configwq
  GEMINI.md
  pnpm-workspace.yaml
Due: none

test: add vitest
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-jobs.yml
  .github/workflows/unit-tests.yml
  .github/workflows/visual-testing.yml
  eslint.config.js
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/lib/CounterDemo/Counter.module.css
  src/lib/CounterDemo/Counter.spec.tsx
  src/lib/CounterDemo/Counter.tsx
  src/lib/CounterDemo/__snapshots__/Counter.spec.tsx.snap
  src/lib/CounterDemo/__snapshots__/useLogic.spec.ts.snap
  src/lib/CounterDemo/index.ts
  src/lib/CounterDemo/useLogic.spec.ts
  src/lib/CounterDemo/useLogic.ts
  src/lib/Layout/Col.tsx
  src/lib/Layout/Grid.tsx
  src/lib/Layout/Row.tsx
  src/vitest-example/HelloWorld.test.tsx
  src/vitest-example/HelloWorld.tsx
  tsconfig.linter.json
  vitest.config.ts
  vitest.shims.d.ts
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.20.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  812b35c8a3176c8c0d3038f3cc0f014ea90643a2
Due: none

chore(release): 0.20.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5600da08936eaf2046eea038c1cd6a4b7b5d5da1
Due: none

test: enable Storybook testing
  .github/workflows/unit-tests.yml
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  src/lib/DataTable/DataTable.stories.tsx
  vitest.config.ts
Due: eslint --fix

feat: add CSS @layers
  package.json
  pnpm-lock.yaml
  src/lib/CSS/styles.css
  src/lib/Provider/Provider.module.css
  src/lib/Provider/Provider.tsx
  src/lib/index.ts
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
  wrapInLayerPlugin.ts
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.21.0-alpha.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c95f83e4dfbeb43ebee9c3d4ba12bc854a3ad31a
Due: none

chore: wip
  package.json
  pnpm-lock.yaml
  src/lib/CSS/styles.css
Due: stylelint --fix --quiet

feat: add CSS layers support
  package.json
  pnpm-lock.yaml
  src/lib/CSS/styles.css
  src/lib/Provider/Provider.module.css
  src/lib/Provider/Provider.tsx
  src/lib/index.ts
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
  wrapInLayerPlugin.ts
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.21.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c82836e6d0e3b9ba9ad657b3929b2b63628290dd
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix --quiet: any of: *.css
  prettier --write --log-level silent: any of: *.mdx
