Repository morewings/koval-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet, prettier --write --log-level silent

chore: clean up
  .github/workflows/merge-jobs.yml
  .github/workflows/pull-request-jobs.yml
  .github/workflows/unit-tests.yml
  .github/workflows/visual-testing.yml
  GEMINI.md
  eslint.config.js
  generate-react-cli.json
  package.json
  pnpm-lock.yaml
  templates/Component/TemplateName.mdx
  templates/Component/TemplateName.module.css
  templates/Component/TemplateName.stories.tsx
  templates/Component/TemplateName.tsx
  templates/Component/index.ts
  templates/GlobalComponent/TemplateName.mdx
  templates/GlobalComponent/TemplateName.module.css
  templates/GlobalComponent/TemplateName.stories.tsx
  templates/GlobalComponent/TemplateName.tsx
  templates/GlobalComponent/TemplateNameContext.ts
  templates/GlobalComponent/TemplateNameProvider.ts
  templates/GlobalComponent/TemplateNameReducer.ts
  templates/GlobalComponent/index.ts
  templates/GlobalComponent/useTemplateNameState.tsx
  templates/Icon/TemplateName.tsx
  templates/Input/TemplateName.mdx
  templates/Input/TemplateName.module.css
  templates/Input/TemplateName.stories.tsx
  templates/Input/TemplateName.tsx
  templates/Input/index.ts
  tsconfig.json
  tsconfig.linter.json
Due: eslint --fix, stylelint --fix --quiet, prettier --write --log-level silent

chore: clean up
  .github/workflows/pages.yml
Due: none

fix(data-table): improve rows counter design and UX
  src/internal/Icons/IconSelectedRows.tsx
  src/internal/Icons/index.ts
  src/lib/DataTable/DataTable.module.css
  src/lib/DataTable/SelectableActions.tsx
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.21.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f69abd46ac9b80788fb08964d0dc2f06b06d8882
Due: none

chore: add new npm bundle size badge to README
  README.md
Due: none

chore: fix npm bundle size badge link in README
  README.md
Due: none

docs: remove npm bundle size badge
  README.md
Due: none

feat(fonts): make Rubik Variable font external dependency to reduce bundle size
  .storybook/preview.tsx
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/CSS/styles.css
  src/lib/Theme/themeDovzhenko.ts
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.22.0-beta.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b528020a021d995b3f4432579caf3b1ac9bac482
Due: none

chore(release): 0.22.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  bbf67300f6d4879cf783ee3f0dd9e068eb398185
Due: none

docs: fix Video player story, add new demo video
  package.json
  pnpm-lock.yaml
  src/lib/Video/Video.stories.tsx
  src/lib/Video/dub.mp4
  src/lib/Video/dub.webm
  src/lib/Video/poster.png
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix --quiet: any of: *.css
  prettier --write --log-level silent: any of: *.mdx
