Repository morewings/koval-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

chore(release): 0.19.0-beta.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  26431d4baf24ef58cc7f261aeb48a3f7e0162906
Due: none

build: improve bundle structure
  vite.config.ts
Due: eslint --fix

fix(hooks): fix useEventListener hook Next.js incompatibility
  src/internal/hooks/useEventListener.ts
Due: eslint --fix

chore(release): 0.18.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  179957929c0474c5d04b27a7fbeb7b792a9358d3
Due: none

chore(release): 0.19.0-beta.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d6dae59d7e07f65577efc1fa2d9b010c750b456a
Due: none

build(actions): update pnpm version
  .github/workflows/coverage.yml
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-jobs.yml
  .github/workflows/visual-testing.yml
Due: none

fix(bundle): fix font embedding
  .storybook/preview.tsx
  src/lib/CSS/styles.css
  src/lib/index.ts
  src/main.tsx
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.18.10 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a5506d9cd761ac179417993700769a2a6ad44f81
Due: none

chore(release): 0.19.0-beta.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  1e292a7956601584824ff0ca93892631efc9a460
Due: none

feat(inputs): make validation icon optional
  src/internal/inputs/ValidationProps.ts
  src/lib/InputCheckbox/InputCheckbox.module.css
  src/lib/InputCheckbox/InputCheckbox.tsx
  src/lib/InputColor/InputColor.tsx
  src/lib/InputDate/InputDate.module.css
  src/lib/InputDate/InputDate.tsx
  src/lib/InputDateTime/InputDateTime.tsx
  src/lib/InputFile/InputFile.module.css
  src/lib/InputFile/InputFile.tsx
  src/lib/InputNumber/InputNumber.module.css
  src/lib/InputNumber/InputNumber.tsx
  src/lib/InputNumeric/InputNumeric.module.css
  src/lib/InputNumeric/InputNumeric.tsx
  src/lib/InputPassword/InputPassword.module.css
  src/lib/InputPassword/InputPassword.tsx
  src/lib/InputRange/InputRange.module.css
  src/lib/InputRange/InputRange.tsx
  src/lib/InputText/InputText.module.css
  src/lib/InputText/InputText.tsx
  src/lib/InputTime/InputTime.module.css
  src/lib/InputTime/InputTime.tsx
  src/lib/Textarea/Textarea.module.css
  src/lib/Textarea/Textarea.tsx
Due: eslint --fix, stylelint --fix --quiet

chore(release): 0.19.0-beta.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6fa8cf13090309472091c12ba0213a2a2988cd02
Due: none

build: change css file name to index
  README.md
  vite.config.ts
Due: eslint --fix

feat(theme): add black and white Dovzhenko theme
  .storybook/preview.tsx
  src/lib/Theme/index.ts
  src/lib/Theme/themeDnipro.ts
  src/lib/Theme/themeDovzhenko.ts
  src/lib/Theme/themePodil.ts
  src/lib/index.ts
  src/storybook-pages/Components_Description.mdx
  src/storybook-pages/Theme.mdx
Due: eslint --fix, prettier -wrtie --log-level silent

chore(release): 0.19.0-beta.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f8c27535db19f808732d0cf8da83bacd6ac0047d
Due: none

docs: fix typo
  README.md
Due: none

chore(release): 0.19.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  907195c8222c531060bbfd4bc576f9230fd9a4b6
Due: none

fix(deps): update css-vars-hook
  package.json
  pnpm-lock.yaml
  src/lib/DataTable/DataTable.tsx
  src/lib/DataTable/TableCell.tsx
Due: eslint --fix

chore(release): 0.19.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6f103f7f4ec83f51765da6b9f0e8038910ae70eb
Due: none

docs: update README.md
  README.md
Due: none

refactor(carousel): refactor Carousel component (see dev.to article)
  src/lib/Carousel/Carousel.module.css
  src/lib/Carousel/Carousel.tsx
  src/lib/Carousel/useCarouselRotation.ts
  src/lib/Carousel/useResizeObserver.ts
  src/lib/Carousel/useResponsiveWidth.ts
Due: eslint --fix, stylelint --fix --quiet

refactor(resize-observer-hook): add improved useResizeObserver hook
  src/internal/hooks/useResizeObserverNew.ts
  src/lib/Carousel/useResizeObserver.ts
  src/lib/Carousel/useResponsiveWidth.ts
  src/lib/DataTable/DataTable.tsx
Due: eslint --fix

chore(release): 0.19.2 [skip ci]
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix --quiet: any of: *.css
  prettier -wrtie --log-level silent: any of: *.mdx
