Repository morewings/koval-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

fix(video): add Video component export
  src/lib/index.ts
Due: eslint --fix

chore(release): 0.19.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7c86dcfd4ffa2722284216634372bd497562929e
Due: none

fix: various style and docs improvements
  .github/workflows/visual-testing.yml
  src/internal/Actions/ActionButton.module.css
  src/lib/CSS/styles.css
  src/lib/Menu/Menu.mdx
  src/lib/Notification/useNotificationState.tsx
  src/lib/Toast/Toast.tsx
Due: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

chore(release): 0.19.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  1bb806e0a7529e86368b7ffa44b90c1306e4e145
Due: none

build: prepare for npm OIDC publishing
  .github/workflows/merge-jobs.yml
Due: none

fix(theme): fix Drawer z-index; tokenize z-index values
  src/lib/Carousel/Carousel.module.css
  src/lib/DataTable/DataTable.module.css
  src/lib/Dialog/Dialog.stories.tsx
  src/lib/Drawer/Drawer.module.css
  src/lib/Iframe/Iframe.module.css
  src/lib/InputDate/InputDate.module.css
  src/lib/Menu/Menu.module.css
  src/lib/Menu/Menu.tsx
  src/lib/Theme/theme.ts
  src/storybook-pages/Theme.mdx
Due: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

chore(release): 0.19.10 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0c8fa4c1eec8c8ed5584dca592c5568cebc77008
Due: none

fix(drawer): fix Drawer z-index
  src/lib/Drawer/Drawer.module.css
Due: stylelint --fix --quiet

chore(release): 0.19.11 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  1f5b78b60e977bbdbb1acc13c02eb82f8ac7d5fe
Due: none

fix(card): rename `variant` prop to `layout`
  .lintstagedrc
  eslint.config.js
  src/lib/Audio/Audio.tsx
  src/lib/Card/Card.tsx
  src/lib/Tabs/Tab.tsx
  src/lib/Tabs/Tabs.stories.tsx
  src/lib/Tabs/Tabs.tsx
Due: eslint --fix

feat(text-to-speech): add TextToSpeechComponent
  src/internal/Icons/IconPlayPause.tsx
  src/internal/Icons/index.ts
  src/internal/locale/languageCodes.ts
  src/lib/TextToSpeech/TextToSpeech.mdx
  src/lib/TextToSpeech/TextToSpeech.module.css
  src/lib/TextToSpeech/TextToSpeech.stories.tsx
  src/lib/TextToSpeech/TextToSpeech.tsx
  src/lib/TextToSpeech/index.ts
  src/lib/TextToSpeech/useSpeechSynth.ts
  src/lib/TextToSpeech/useTextLength.ts
Due: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

fix(typography): improve headers style
  src/lib/Text/Text.module.css
  src/lib/TextToSpeech/TextToSpeech.stories.tsx
Due: eslint --fix, stylelint --fix --quiet

fix(dialog): change Dialog position from relative to fixed
  src/lib/Dialog/Dialog.module.css
Due: stylelint --fix --quiet

fix(typography): improve headers style
  src/internal/Icons/IconRepeat.tsx
  src/internal/Icons/index.ts
  src/lib/Text/Text.module.css
  src/lib/TextToSpeech/TextToSpeech.mdx
  src/lib/TextToSpeech/TextToSpeech.module.css
  src/lib/TextToSpeech/TextToSpeech.stories.tsx
  src/lib/TextToSpeech/TextToSpeech.tsx
  src/lib/TextToSpeech/useSpeechSynth.ts
  src/lib/TextToSpeech/useTextLength.ts
Due: eslint --fix, stylelint --fix --quiet, prettier -wrtie --log-level silent

feat(headers): add optional anchor to H1-H6 components
  src/lib/Text/Header.stories.tsx
  src/lib/Text/Headers.tsx
  src/lib/Text/Text.module.css
Due: eslint --fix, stylelint --fix --quiet

feat(paragraph): add hyphenation setting to Paragraph component
  src/lib/Text/Paragraph.stories.tsx
  src/lib/Text/Paragraph.tsx
  src/lib/Text/Text.module.css
Due: eslint --fix, stylelint --fix --quiet

fix(card): set white background for Card
  src/lib/Card/Card.module.css
Due: stylelint --fix --quiet

fix(inputs): improve Checkbox and Radio inputs styles
  src/lib/InputCheckbox/InputCheckbox.module.css
  src/lib/InputRadio/InputRadio.module.css
Due: stylelint --fix --quiet

chore(release): 0.20.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d6706a6537ee0527bfb017517da63342b39702c7
Due: none

fix(dialog): revert positioning fix
  src/lib/Dialog/Dialog.module.css
Due: stylelint --fix --quiet

chore(release): 0.20.1 [skip ci]
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix --quiet: any of: *.css
  prettier -wrtie --log-level silent: any of: *.mdx
